@theme inline {
  --color-primary-100: color-mix(in oklch, var(--color-primary) 10%, white);
  --color-primary-200: color-mix(in oklch, var(--color-primary) 20%, white);
  --color-primary-300: color-mix(in oklch, var(--color-primary) 30%, white);
  --color-primary-400: color-mix(in oklch, var(--color-primary) 40%, white);
  --color-primary-500: color-mix(in oklch, var(--color-primary) 50%, white);
  --color-primary-600: color-mix(in oklch, var(--color-primary) 60%, white);
  --color-primary-700: color-mix(in oklch, var(--color-primary) 70%, white);
  --color-primary-800: color-mix(in oklch, var(--color-primary) 80%, white);
  --color-primary-900: color-mix(in oklch, var(--color-primary) 90%, white);

  --color-primary-transparent-100: color-mix(in oklch, var(--color-primary) 10%, transparent);
  --color-primary-transparent-200: color-mix(in oklch, var(--color-primary) 20%, transparent);
  --color-primary-transparent-300: color-mix(in oklch, var(--color-primary) 30%, transparent);
  --color-primary-transparent-400: color-mix(in oklch, var(--color-primary) 40%, transparent);
  --color-primary-transparent-500: color-mix(in oklch, var(--color-primary) 50%, transparent);
  --color-primary-transparent-600: color-mix(in oklch, var(--color-primary) 60%, transparent);
  --color-primary-transparent-700: color-mix(in oklch, var(--color-primary) 70%, transparent);
  --color-primary-transparent-800: color-mix(in oklch, var(--color-primary) 80%, transparent);
  --color-primary-transparent-900: color-mix(in oklch, var(--color-primary) 90%, transparent);

  --color-destructive-100: color-mix(in oklch, var(--color-destructive) 10%, white);
  --color-destructive-200: color-mix(in oklch, var(--color-destructive) 20%, white);
  --color-destructive-300: color-mix(in oklch, var(--color-destructive) 30%, white);
  --color-destructive-400: color-mix(in oklch, var(--color-destructive) 40%, white);
  --color-destructive-500: color-mix(in oklch, var(--color-destructive) 50%, white);
  --color-destructive-600: color-mix(in oklch, var(--color-destructive) 60%, white);
  --color-destructive-700: color-mix(in oklch, var(--color-destructive) 70%, white);
  --color-destructive-800: color-mix(in oklch, var(--color-destructive) 80%, white);
  --color-destructive-900: color-mix(in oklch, var(--color-destructive) 90%, white);

  --color-destructive-transparent-100: color-mix(in oklch, var(--color-destructive) 10%, transparent);
  --color-destructive-transparent-200: color-mix(in oklch, var(--color-destructive) 20%, transparent);
  --color-destructive-transparent-300: color-mix(in oklch, var(--color-destructive) 30%, transparent);
  --color-destructive-transparent-400: color-mix(in oklch, var(--color-destructive) 40%, transparent);
  --color-destructive-transparent-500: color-mix(in oklch, var(--color-destructive) 50%, transparent);
  --color-destructive-transparent-600: color-mix(in oklch, var(--color-destructive) 60%, transparent);
  --color-destructive-transparent-700: color-mix(in oklch, var(--color-destructive) 70%, transparent);
  --color-destructive-transparent-800: color-mix(in oklch, var(--color-destructive) 80%, transparent);
  --color-destructive-transparent-900: color-mix(in oklch, var(--color-destructive) 90%, transparent);
}
